// COLORS
$main-color: pink;
$second-color: black;
$third-color: blue;
$fourth-color:green;
$fifth-color:whitesmoke;
$sixth-color:rgb(242, 227, 227);
$seventh-color: red;

// FONTS,SIZES
$font: 0.9em/1.35em 'Arial', 'Verdana', 'Tahoma', sans-serif;