// GENERAL

@import "variables";
@import "mixins";
@import "functions";

html{
    box-sizing: border-box;
    
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}




// LAYOUT
// ************************************************************************************************************************************************************

.group{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    background-color: $main-color;
}

header{
    width: 100%;
    background-color: $sixth-color;
    color: $fifth-color;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header h1{
    width: 50%;
    margin: 0;
    border: 2px solid $seventh-color;
    font-size: sum(1em,3em);
    
}

header p{
    font: $font;
}


main{
    width: 100%;
    height: 70%;
}

article, aside{
    border-radius: 10px;
    float: left;
    height: 100%;
}

article{
    background-color: $seventh-color;
    width: 70%;
    margin-right: 2%;
}


aside{
    background-color: $third-color;
    width: 28%;
}


footer{
    height: 10%;
    width: 100%;
    background-color: $sixth-color;
    margin-top: 0%;
}


.alert-btn{
    @include myButton;
}

.normal-notification{
    color: $fifth-color;
    font-size: 1em;
    width: 80%;
    text-align: center;
    background-color: $fourth-color;
    margin: 0 auto
}

.error-notification{
    @extend .normal-notification;
    background-color: $seventh-color;
}

.notification{
    border-radius: 2em;
}

.paragraph{
    @include myParagraph
}




/* CLEARFIX */
// ***********************************************************************************************************************************************************

.group::before,
.group::after{
    content: " ";
    display: table;
}

.group::after{
    clear: both;
}




























