// COLORS
$main-color: grey;
$second-color: linear-gradient(45deg,rgb(111, 73, 4),black);
$third-color: linear-gradient(45deg,black,rgb(111, 73, 4));
$fourth-color:green;
$fifth-color:rgb(211, 202, 202);
$sixth-color:rgb(242, 227, 227);
$seventh-color: red;

// FONTS,SIZES
$font: 0.9em/1.35em 'Arial', 'Verdana', 'Tahoma', sans-serif;